@tailwind base;
@tailwind components;

a {
    color: blue;
}

.highlight {
    border-radius: 1em 0 1em 0;
    background-image: linear-gradient(
        -100deg,
        rgba(255, 224, 0, 0.3),
        rgba(255, 224, 0, 0.7) 95%,
        rgba(255, 224, 0, 0.1)
    );
}

@tailwind utilities;
